<header>
    <span class="mainlogo">
        <span style="color: #ff5555">E</span><span style="color: #ffaa00">e</span><span style="color: #ffff55">j</span><span style="color: #55ff55">i</span><span style="color: #00aa00">t</span><span style="color: #00aaaa">'</span><span style="color: #5555ff">s</span>
        <span style="color: #aa00aa" class="mainlogo-tools">Tools</span>
    </span>
    <br />
    <div class="message">
        Welcome to my site! Here are some handy tools I made whilst learning
        <span class="tooltip-bottom" data-tooltip="Hypertext Markup Language">HTML</span>, <span class="tooltip-bottom" data-tooltip="Cascading Style Sheets">CSS</span>, and JavaScript!
    </div>
</header>
<table class="toolstable">
    <tbody>
        <% for (let i = 0; i < pages.length; i++) { if (/tools\//.test(pages[i].link)) { %>
        <tr>
            <td style="width: 15vw">
                <a href="<%- pages[i].link %>"><i class="<%- pages[i].icon %>" style="margin-right: 3px"></i> <%- pages[i].title %></a>
            </td>
            <td><%- pages[i].description %></td>
        </tr>
        <% } } %>
    </tbody>
</table>

<table class="toolstable" style="margin-top: 70px">
    <tbody>
        <% for (let i = 0; i < pages.length; i++) { if (/info\//.test(pages[i].link)) { %>
        <tr>
            <td style="width: 15vw">
                <a href="<%- pages[i].link %>"><i class="<%- pages[i].icon %>" style="margin-right: 3px"></i> <%- pages[i].title %></a>
            </td>
            <td><%- pages[i].description %></td>
        </tr>
        <% } } %>
    </tbody>
</table>

<table class="toolstable" style="margin-top: 70px">
    <tbody>
        <% for (let i = 0; i < pages.length; i++) { if (/fun\//.test(pages[i].link)) { %>
        <tr>
            <td style="width: 15vw">
                <a href="<%- pages[i].link %>"><i class="<%- pages[i].icon %>" style="margin-right: 3px"></i> <%- pages[i].title %></a>
            </td>
            <td><%- pages[i].description %></td>
        </tr>
        <% } } %>
    </tbody>
</table>
