For more information about formatting codes, see
<a href="https://minecraft.fandom.com/wiki/Formatting_codes" target="_blank" class="external-link">here</a>.
<div class="scroll-message">Scroll</div>
<table class="info-table needs-scroll">
    <thead>
        <tr>
            <th>Color & Minecraft Name</th>
            <th>Color Code</th>
            <th><span class="tooltip-bottom" data-tooltip="Message of the Day">MOTD</span> Code</th>
            <th>Hex Code</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.minecraftColorCodes}}
            <tr style="background-color: #{{this.backgroundColor}}; color: #{{this.textColor}}">
                <td>{{this.color}}<br />(<code class="color-name">{{this.colorName}}</code>)</td>
                <td>ยง{{this.colorCode}} (&{{this.colorCode}})</td>
                <td>\u{{this.motdCode}}</td>
                <td>#{{this.hexCode}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<table class="info-table needs-scroll">
    <thead>
        <tr>
            <th>Type</th>
            <th>Chat Code</th>
            <th><span class="tooltip-bottom" data-tooltip="Message of the Day">MOTD</span> Code</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.minecraftFormattingCodes}}
            <tr>
                <td style="{{this.style}}">{{this.type}}</td>
                <td>ยง{{this.formattingCode}} (&{{this.formattingCode}})</td>
                <td>\u{{this.motdCode}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
