<div class="error-title">{{title}} <i class="fa-regular fa-face-sad-tear"></i></div>
<div class="error-warning">{{message}}</div>
<img src="https://http.dog/{{status}}.jpg" alt="{{status}} - {{title}}" class="error-image" />
