<p class="info">For more information about formatting codes, see <a href="https://minecraft.fandom.com/wiki/Formatting_codes" target="_blank">here</a>.</p>
<div class="warning scroll-message">Scroll →</div>
<table class="info-table">
    <thead>
        <tr>
            <th>Color & Minecraft Name</th>
            <th>Color Code</th>
            <th><span class="tooltip-bottom" data-tooltip="Message of the Day">MOTD</span> Code</th>
            <th>Hex Code</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.minecraftColorCodes}}
            <tr style="background-color: #{{this.backgroundColor}}; color: #{{this.textColor}}">
                <td>{{this.color}}<br />(<code class="color-name">{{this.colorName}}</code>)</td>
                <td>§{{this.colorCode}} (&{{this.colorCode}})</td>
                <td>\u{{this.motdCode}}</td>
                <td>#{{this.hexCode}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<table class="info-table" style="overflow-x: hidden; margin-top: 30px">
    <thead>
        <tr>
            <th>Type</th>
            <th>Chat Code</th>
            <th><span class="tooltip-bottom" data-tooltip="Message of the Day">MOTD</span> Code</th>
        </tr>
    </thead>
    <tbody>
        {{#each additionalData.minecraftFormattingCodes}}
            <tr>
                <td style="{{this.style}}">{{this.type}}</td>
                <td>§{{this.formattingCode}} (&{{this.formattingCode}})</td>
                <td>\u{{this.motdCode}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
