<!doctype html>
<html lang="en">
    <head>
        <!-- Common Tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="robots" content="index, follow" />
        <title>{{title}} | Eejit's Tools</title>
        <!-- Search Engine -->
        <meta name="title" content="{{title}}" />
        <meta name="description" content="{{descriptionParsed}}" />
        {{#unless (isEmpty keywords)}}
            <meta name="keywords" content="eejitstools,eejits tools,eejit's tools,eejit43,{{keywords}}" />
        {{else}}
            <meta name="keywords" content="eejitstools,eejits tools,eejit's tools,eejit43" />
        {{/unless}}
        <meta property="image" content="https://eejitstools.com/favicons/icon.png" />
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{title}}" />
        <meta itemprop="description" content="{{descriptionParsed}}" />
        <meta itemprop="image" content="https://eejitstools.com/favicons/icon.png" />
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="{{title}}" />
        <meta property="og:description" content="{{descriptionParsed}}" />
        <meta property="og:image" content="https://eejitstools.com/favicons/icon.png" />
        <meta property="og:image:alt" content="Eejit's Tools Wrench" />
        <meta property="og:url" content="https://eejitstools.com" />
        <meta property="og:site_name" content="Eejit's Tools" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <!-- Twitter -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{title}} | Eejit's Tools" />
        <meta name="twitter:description" content="{{descriptionParsed}}" />
        <meta name="twitter:url" content="https://eejitstools.com" />
        <meta name="twitter:image" content="https://eejitstools.com/favicons/icon.png" />
        <meta name="twitter:image:alt" content="Eejit's Tools Wrench" />
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
        <link rel="manifest" href="/favicons/site.webmanifest" />
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#3e498a" />
        <meta name="apple-mobile-web-app-title" content="Eejit's Tools" />
        <meta name="application-name" content="Eejit's Tools" />
        <meta name="msapplication-TileColor" content="#3e498a" />
        <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#3e498a" />

        <!-- Styles -->
        <link rel="stylesheet" href="/styles/styles.css" />
        {{#if style}}
            <link rel="stylesheet" href="/styles/pages{{link}}.css" />
        {{/if}}
        {{#each additionalStyles}}
            <link rel="stylesheet" href="/styles/{{this.link}}" />
        {{/each}}

        <!-- Scripts -->
        <script src="/scripts/global.js" type="module"></script>
        {{#if script}}
            <script src="/scripts/pages{{link}}.js" type="module"></script>
        {{/if}}
        {{#each additionalScripts}}
            {{#if this.module}}
                <script src="{{this.link}}" type="module"></script>
            {{else}}
                <script src="{{this.link}}"></script>
            {{/if}}
        {{/each}}
    </head>
    <body>
        <noscript>
            <div id="overlay">
                <span class="noscript-message">This page requires JavaScript to function properly! Please enable it and reload!</span>
            </div>
        </noscript>
        <nav>
            <a href="/">
                <span class="logo">
                    <span style="color: var(--brand-color-1)" data-value="E">E</span><span style="color: var(--brand-color-2)" data-value="e">e</span><span
                        style="color: var(--brand-color-3)"
                        data-value="j"
                    >j</span><span style="color: var(--brand-color-4)" data-value="i">i</span><span style="color: var(--brand-color-5)" data-value="t">t</span><span
                        style="color: var(--brand-color-6)"
                        data-value="'"
                    >'</span><span style="color: var(--brand-color-7)" data-value="s">s</span>
                    <span style="color: var(--brand-color-8)" class="logo-tools" data-value="Tools">Tools</span>
                </span>
            </a>
            <div class="search-box mobile-hidden">
                <input class="search-text" type="text" placeholder="Search here..." /><i class="search-button fa-solid fa-magnifying-glass"></i><br />
                <div class="search-results"></div>
            </div>
            <a href="/tools/time" class="nav-time"><span id="time-display">Loading...</span> <i id="time-icon" class="fa-solid fa-triangle-exclamation"></i></a>
            <a href="https://github.com/Eejit43/eejitstools-v2" target="_blank" class="source">Source <i class="fa-brands fa-github" style="margin-left: 3px; transform: translateY(1.5px)"></i></a>
            <div id="last-commit-info">
                <code class="tooltip-bottom" data-tooltip="&quot;{{commitInfo.message}}&quot; by {{commitInfo.author}}"><i class="fa-solid fa-code-commit"></i>{{commitInfo.sha}}</code>
            </div>
        </nav>
        {{#if toolbox}}
            <div class="toolbox">
                <h1>
                    {{#if iconStyle}}
                        <i class="fa-regular fa-{{icon}}" style="{{iconStyle}}"></i>
                        {{#if toolboxTitle}}{{{toolboxTitle}}}{{else}}{{title}}{{/if}}:
                    {{else}}
                        <i class="fa-regular fa-{{icon}}"></i>
                        {{#if toolboxTitle}}{{{toolboxTitle}}}{{else}}{{title}}{{/if}}:
                    {{/if}}
                </h1>
                {{{body}}}
            </div>
        {{else}}
            {{{body}}}
        {{/if}}
        <div class="footer-utils">
            <button id="scroll-to-top"><i class="fa-solid fa-arrow-up"></i></button>
            <button id="show-shortcuts">⌘</button>
        </div>
        <div id="shortcuts" style="display: none">
            <div id="shortcuts-content">
                <div id="shortcuts-header">
                    Keyboard Shortcuts
                    <span id="close-shortcuts">&times;</span>
                </div>
                <hr style="width: 100%" />
                <div id="shortcuts-list">
                    <kbd>Option</kbd>
                    +
                    <kbd>K</kbd>: Opens keyboard shortcut menu (this menu)<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>C</kbd>: Clears clipboard<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>H</kbd>: Opens homepage (current tab, new tab with
                    <kbd>Meta</kbd>/<kbd>⌘ Cmd</kbd>)<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>S</kbd>: Opens GitHub repository (new tab)<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>P</kbd>: Opens page source (GitHub, new tab)<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>Shift</kbd>
                    +
                    <kbd>P</kbd>: Opens page script (or global script if no script) (GitHub, new tab)<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>/</kbd>: Selects search bar<br />
                    <kbd>Option</kbd>
                    +
                    <kbd>T</kbd>: Scroll to the top of the page
                </div>
            </div>
        </div>
    </body>
</html>
